[submodule "vendor/pix2pixHD.git"]
	path = vendor/pix2pixHD.git
	url = https://github.com/NVIDIA/pix2pixHD.git
[submodule "vendor/detectron2"]
	path = vendor/detectron2
	url = https://github.com/facebookresearch/detectron2.git
